.content {
  flex: 1 0 auto;
  margin-top: 49px;
}
.container {
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
}
.content .container {
  min-height: calc(100vh - 49px);
}
.wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 49px);
  background: url(/public/hero.jpg) no-repeat bottom center;
}

.hero__title {
  text-align: center;
  font-size: 50px;
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  color: var(--white);
  opacity: 0;
  transition: all 2s var(--cubik);
}
.hero__title.show {
  opacity: 1;
}
.hero__sublogo {
  display: block;
  text-align: end;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.logo__thumb {
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
}
header .logo {
  font-size: 25px;
  color: var(--white);
}
footer .logo {
  color: var(--marine);
  font-size: 28px;
}

.text {
  font-size: 16px;
  font-weight: 400;
}
.thinText {
  font-size: 16px;
  font-weight: 200;
}

.title {
  font-size: 18px;
  font-weight: 500;
}

.infoWrapper {
  padding: 20px;
  /* border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color); */
}
.imgWrapper {
  width: 100%;
  overflow: hidden;
}

.roomImg {
  transition: transform 500ms var(--cubik);
}
.roomImg:hover {
  transform: scale(110%);
}

.list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}

.item:hover .roomImg {
  transform: scale(110%);
}

.item {
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
  max-width: 320px;
  transform: translateX(100%);
  transition: box-shadow 500ms var(--cubik), transform 1s var(--cubik),
    opacity 1s var(--cubik);
  opacity: 0;
}
.item.show {
  transform: translateX(0);
  opacity: 1;
}
.item:hover {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.tableGeneral {
  width: 100%;
  margin-top: 20px;
}
.tableTitle {
  vertical-align: top;
  background-color: var(--marine);
  font-weight: 500;
}

.filling {
  margin-bottom: 20px;
}

.map {
  width: 100%;
  height: calc(100vh - 60px);
  border: 0;;
}

.gal {
  background-color: rgba(0, 0, 0, 0.697);
  padding-left: 50px;
  padding-right: 50px;
}
.galButton {
  display: none;
}
.contacts__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 25px;
  min-width: 300px;
}

.contacts__item {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--marine);
}
.contacts__item:last-child {
  border-bottom: none;
}
.contacts__item .text {
  width: 240px;
  font-size: 14px;
}
.contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--accent-color);
  fill: var(--white);
  outline: none;
  transition: fill 250ms var(--cubik), background-color 250ms var(--cubik);
}
.contacts__link:hover,
.contacts__link:focus,
.contactsl__link:active {
  background-color: var(--white);
  fill: var(--accent-color);
}

.location {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    width: var(--tablet);
    /* margin: 0 auto; */
    padding-left: 10px;
    padding-right: 10px;
  }
  .hero {
    height: calc(100vh - 60px);
  }

  .hero__title {
    font-size: 100px;
  }

  .hero__sublogo {
    font-size: 22px;
  }

  .content {
    margin-top: 60px;
  }
  .content .container {
    min-height: calc(100vh - 60px);
  }

  .contacts__wrapper {
    flex-direction: row;
    gap: 30px;
  }
  .contacts__link {
    width: 50px;
    height: 50px;
  }

  .galButton {
    display: block;
    width: 44px;
    height: 44px;
    font-size: 30px;
    font-weight: 500;
    z-index: 2;
    border: 0;
    border-radius: 50%;
    background-color: grey;
  }
  .location {
    display: block;
    opacity: 0.5;
    border: 0;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: var(--desctop);
  }
  header .logo {
    font-size: 28px;
  }

  .list {
    justify-content: start;
  }
  .tableTitle {
    min-width: 200px;
  }

  .contacts .text {
    max-width: 500px;
  }
  .contacts__item .text {
    width: 100%;
    font-size: 16px;
  }
  .contacts__link {
    width: 75px;
    height: 75px;
  }
  .location {
    max-width: 650px;
    min-width: 300px;
    /* width: 100%; */
    height: 300px;
  }
  /* .content {
    padding-left: 69px;
    padding-top: 46px;
  } */
}
