.header {
  background:var(--marine);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.thumb {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  color: var(--white);
}
.item {
  margin-right: 50px;
}
.item:last-child {
  margin-right: 0;
}
.navLink {
  font-weight: 500;
  font-size: 18px;
  color: var(--darkText);
  transition: color 250ms var(--cubik);
}

.navLink:hover {
  color:var(--accent-color);
}


