.thumb {
  margin: 0 auto;
  width: 1100px;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header {
  background:rgba(191, 217, 242, 1);
  /* position: fixed; */
  
}
.navLink {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: black;
  margin-right: 50px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navLink:last-child {
  margin-right: 0;
}
.navLink:hover {
  color:var(--accent-color);
}

.wrapper {
  flex: 1 0 auto;
}
