.container {
  margin: 0 auto;
  width: 1100px;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header {
  background: rgba(28, 54, 85, 0.2);
}
.navLink {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: white;
  margin-right: 50px;
}
.navLink:last-child {
  margin-right: 0;
}
.navLink:hover {
  color: black;
}
