
  .textImp {
    display: block;
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  .priceInfo:hover {
    background-color: var(--marine);
  }
  .link {
    color: var(--darkText);
  }


  .current {
    background-color: var(--accent-color);
    color: var(--darkText);
    font-weight: 500;
  }
 