.container {
    margin: 0 auto;
    width: 1100px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .text {
    margin-bottom: 20px;
  }
  .tableGeneral {
    width:100%;
  }
  .type {
    font-weight: 500;
    margin-top: 20px;
  }
  .priceTitle {
    min-width: 200px;
    vertical-align: top;
    background-color: #bfd9f2;
  }
  .priceInfo:hover {
    background-color: #bfd9f2;
  }
  .link {
    color: black;
  }
 