.container {
    margin: 0 auto;
    width: var(--desctop);
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .wrapper {
    display: inline-flex;
    overflow: hidden;
  }

  .thumb {
    margin-bottom: 20px;
  }

  .filling {
    margin-bottom: 20px;
  }