
.container {
    margin: 0 auto;
    width: 1100px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .navLink {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: black;
  }
  /* .navLink:last-child {
    margin-right: 0;
  } */
  .item:hover  {
    box-shadow: 0px 11px 23px 11px rgba(0,0,0,0.25);
  }
  .wrapper {
    display: block;
    overflow: hidden;
    
  }

  .list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .item {
    box-shadow: 0px 11px 23px 11px rgba(0,0,0,0.14);
    max-width: 320px;
    transition: box-shadow 500ms var(--cubik);
  }
  .infoWrapper {
    padding: 20px;
  }
  .info {
    list-style-type: none;
  }