
  .navLink {
    font-weight: 500;
    font-size: 18px;
    color: var(--darkText);
  }

  .list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .prices {
    margin-top: 10px;
  }

  .thumb {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .thumb tr:hover {
    background-color: var(--white);
  }
  

 

