
  .navLink {
    /* display: grid;
    grid-template-rows: 1fr 1fr; */
    font-weight: 500;
    font-size: 18px;
    color: var(--darkText);
  }

  .prices {
    margin-top: 10px;
  }

  .thumb {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .thumb tr:hover {
    background-color: var(--white);
  }
  

 

